<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="com.navteq.ec.common.util.Log4JHeaderedPatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %t %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="console"/>
	</root>

	<logger name="com.nokia.ec.tilepublisher">
		<level value="info" />
	</logger>

 </log4j:configuration>