<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <!--Spring configuration for PROD environment: the target PostGre base-->
    <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="org.postgresql.Driver"/>
        <property name="url"
                  value="jdbc:postgresql://localhost/"/>
        <property name="username" value="username"/>
        <property name="password" value="password"/>
        <property name="initialSize" value="2"/>
        <property name="minIdle" value="2"/>
    </bean>
</beans>